<article class="movie col-md-4 col-sm-6 col-xs-12">
  <h3><%= link_to movie.title, movie_path(movie) %></h3>
  <p><%= movie.plot %></p>
  <%= link_to "Movie information", movie, class: 'btn btn-info' %>
</article>