<tr>
  <td><%= purchase.movie.title %></td>
  <td><%= l(purchase.created_at, format: :short) %></td>
  <td><%= purchase.quality.upcase %></td>
  <td><%= number_to_currency(purchase.price, :unit => "€") %></td>
</tr>