<% if @purchase.persisted? %>
  window.location.href = '<%= purchases_path %>';
<% else %>
  $('body .movie').append('<p class="errors"> <%= @purchase.errors.full_messages.join(', ') %></p>');
<% end %>