<% if @purchase.persisted? %>
  window.location.href = '<%= purchases_path %>';
<% else %>
  $('html').append('<p class="error"> <%= @purchase.errors.full_messages.join(', ') %> Something went wrong, please try again.</p>');
<% end %>