.movie {
  a {
    color: black;
  }
  .purchase-options {
    .option {
      text-align: center;
      ul {
        list-style: none;
        padding: 0;
        li {
          display: inline;
        }
      }
    }
  }
}

.pagination {
  visibility: hidden;
  height: 0;
}

.loader {
  width: 100%;
  text-align: center;
  margin-bottom: 4em;
}