<div class="col-md-3 option">
  <ul>
  </ul>
  <% if current_user %>
    <%= render 'purchases/form', movie_purchase_option: movie_purchase_option %>
  <% else %>
    <%= link_to "You must log in to make a purchase", new_user_session_path %>
  <% end %>
</div>